doctype html
html(lang="en")
  body
    h1 Welcome    
    a(class='button', href='https://api.instagram.com/oauth/authorize/?client_id=4ca1c5212ebe4dae9d8dca03462c12a9&redirect_uri=http://localhost:1337/callback&response_type=code') Login with Instagram
    
 
